body {
    margin: 0;
    padding: 0;
    color: #ECD2C7;
}

#container {
    display: flex;
    /* justify-content: center; */
}

#sidebar {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    background-color: #484E5D;
    color: #ECD2C7;
}

#sidebar ul {
    list-style-type: "- ";
    padding-left: 20px;
}

#photo-section {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#photo-section #photo {
    max-width: 400px;
    max-height: 350px;
    border-radius: 50%;
}

.sidebar-sections {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#profile-name-title {
    font-size: 24px;
    width: 80%
}

.section-title {
    width: 80%;
    font-size: 18px;
}

.section-description,
a {
    font-size: 16px;
    color: #d3d3d3;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 80%;
}

#contact-section .section-description {
    list-style-type: none;
    padding: 0
}

.section-bar {
    width: 80%;
    background-color: #EBDDD6;
    height: 3px;
    margin: 40px 0 20px 0;
}

#profile-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.main-sections {
    width: 70%;
    color: #676870;
    margin-bottom: 40px;
}

.main-sections .section {
    margin-top: 30px;
    margin-bottom: 10px;
}

.main-sections .section-title {
    height: 60px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    padding-left: 20px;
    background-color: #FFE7D2;
}

.section-subtitle {
    font-size: 20px;
    font-weight: 800;
    margin: 0;
}

.section-subtitle-description {
    font-size: 16px;
    margin: 10px 0;
    font-weight: 600;
}

.main-sections .section-description {
    color: #676870;
    font-size: 14px;
    font-weight: 400px;
}

.main-sections .section-description {
    width: 100%;
    padding-left: 20px;
}